<h2> Overview for all the artists</h2>
<ul>
<% @artists.each do |artist| %>
 <li > <%= link_to (image_tag artist.photo.image), artist_path(artist.id), class:"index_image"%><%= artist.name%> </li>

<% end %>
</ul>
  <%= render "form"%>
