<h1> Welcome to the information page for <%=@artist.name%></h1>
<p><%= @artist.bio %></p>
<ul><% @songs.each do |song| %>
  <li> <%= song.name %> duration: <%= song.duration %></li>
  <% end %>
</ul>
